<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <title>Party Sheet Show</title>

</head>
<body>
<div th:replace="~{templates :: navbar('','','','active','')}"></div>
<div style="text-align: center" class="text-light"><h1>Initiative tracker</h1></div>
<main class="d-flex flex-nowrap">
    <div class="container d-flex flex-column flex-shrink-0 p-3">
        <form action="#" th:action="@{/initiativeTracker}" th:object="${initiativeTracker}" method="post">
            <table id="initTracker" class="table table-hover table-striped table-dark" style="margin-bottom: auto;">
                <thead>
                <tr>
                    <th>Character</th>
                    <th>Initiative</th>
                    <th>AC</th>
                    <th>Current HP</th>
                    <th>Max HP</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="initiative,iter : *{initiativeList}">
                    <td><input id="character-name" type="text"
                               th:field="*{initiativeList[__${iter.index}__].characterName}"></td>
                    <td><input id="initiative" type="text" th:field="*{initiativeList[__${iter.index}__].value}"></td>
                    <td><input id="armor-class" type="text" th:field="*{initiativeList[__${iter.index}__].armorClass}">
                    </td>
                    <td><input id="current-hp" type="text" th:field="*{initiativeList[__${iter.index}__].currentHp}">
                    </td>
                    <td><input id="max-hp" type="text" th:field="*{initiativeList[__${iter.index}__].maxHp}"></td>
                    <td><textarea id="notes" rows="1" cols="30"
                                  th:field="*{initiativeList[__${iter.index}__].notes}"></textarea></td>
                </tr>
                </tbody>
            </table>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbar2">
                        <div class="nav-item  me-auto mb-2 mb-md-0">
                            <a href="javascript:history.back()" class="btn btn-success me-2">
                                Back
                            </a>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <button type="submit" name="addRow" class="btn btn-success me-2">
                                    Add row
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="submit" name="removeRow" class="btn btn-success me-2">
                                    Remove row
                                </button>
                            </li>
                            <li>
                                <button type="submit" name="sort" class="btn btn-success me-2">
                                    Sort
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="submit" name="saveTracker" value="Submit" class="btn btn-success me-2">
                                    Save
                                </button>
                            </li>
                            <li class="nav-item">
                                <form action="#" th:action="@{/initiativeTracker}" method="post">
                                    <button type="submit" name="loadTracker" class="btn btn-success">
                                        Load
                                    </button>
                                    <label for="id">Id:</label><input id="id" type="text" th:name="id" class="me-2">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <div>
                    <p class="text-wrap text-light" style="font-weight: bold;">
                        If you save the initiative the ID will be shown below. Keep it to be able to
                        reload the tracker later.</p>
                    <p class="text-light" style="font-weight: bold;" th:if="${initiativeId}" th:text="${initiativeId}"></p>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>