<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar(home, characters, tracker, levels)">
    <div class="container-fluid">
        <img src="/images/d20.png" class="navbar-brand" href="/home.html" th:href="@{/home}" style="height: 50px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="/home.html" th:href="@{/home}" class="nav-link link-body-emphasis px-2"
                       th:classappend="${home}" aria-current="page">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/characters.html" th:href="@{/characters}" class="nav-link link-body-emphasis px-2"
                       th:classappend="${characters}">
                        Characters
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/initiativeTracker.html" th:href="@{/initiativeTracker}"
                       class="nav-link link-body-emphasis px-2" th:classappend="${tracker}">
                        Initiative Tracker
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/levelsTable.html" th:href="@{/levelsTable}" class="nav-link link-body-emphasis px-2"
                       th:classappend="${levels}">
                        Levels cheat sheet
                    </a>
                </li>
            </ul>
            <form class="d-flex me-2 mb-2 mb-md-0" role="search">
                <button class="btn btn-outline-light me-2" type="submit" hidden>Search</button>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" hidden>
            </form>
            <div class="nav-item" hidden>
                <button type="button" class="btn btn-outline-success me-2">Login</button>
                <button type="button" class="btn btn-success">Sign-up</button>
            </div>
        </div>
    </div>
</nav>
</body>
</html>